* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-user-select: none;
    user-select: none;
}

body {
    margin: 0;
}
canvas {
    display: block;
}

.stats {
    overflow: hidden;
    width: 0%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #061322a6;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    transition: 200ms;
    z-index: 3;
}

.message {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.restart {
    display: block;
    font-weight: 700;
    padding: 8px 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 200ms;
}

.restart:hover {
    background: #707070;
    color: #fff;
}

.restart:active {
    background: #3d3d3d;
}

.loading {
    display: none;
    position: absolute;
    background: #242424;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    padding: 10%;
    z-index: 4;
}

.loading .body {
    width: 100%;
    height: 6px;
    background: #707070;
}

.bar {
    width: 0%;
    height: 100%;
    background: rgb(200, 255, 0);
}

.bonus {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #00000000;
    font-size: 0px;
    font-weight: 700;
    transition: 500ms;
    z-index: 1;
}

.bonus.active {
    transform: translateY(-25px);
    font-size: 32px;
    color: #fff;
}

.muteButton {
    position: absolute;
    width: 42px;
    height: 42px;
    box-sizing: border-box;
    background: #fff;
    cursor: pointer;
    top: 10px;
    right: 10px;
    z-index: 2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 200ms;
    border: solid 1px #fff;
}

.muteButton img {
    width: 26px;
}

.muteButton:hover {
    background: #e6e6e6;
    border: solid 1px #3d3d3d;
}